.env
.en/
.venv/
v/
.v/
.vscode/
venv/
environment/

# Commented out for Render deployment (need to commit db.sqlite3 and staticfiles)
staticfiles/
__pycache__/
.sonarlint/
pylint_report.txt
.coverage
coverage.xml
sonar-project.properties
.scannerwork
run.bat
server_log.txt
/server_log.txt

*.log

db.sqlite3  # Commented for Render - need to commit this file
.env.swp



# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
